/vendor/
/node_modules/
/public/storage
/public/hot
/public/build

.env
.env.backup
.env.local
.env.*.local

/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*

/composer.lock
/npm-debug.log
/yarn-error.log
/pnpm-lock.yaml
package-lock.json

.idea/
/.vscode/
/env.php
Homestead.yaml
Homestead.json
